<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="kuka_kr210_r2700">

  <!-- Dummy link to serve as the root link without inertia -->
  <link name="dummy_link"/>

  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.11692346376649 0.000930392294044881 0.115386257510113"
        rpy="0 0 0" />
      <mass
        value="71.132605900103" />
      <inertia
        ixx="1.60740354835693"
        ixy="0.00856979036930462"
        ixz="0.365756634258262"
        iyy="3.50686066401722"
        iyz="-0.00211636476589548"
        izz="4.27774099578078" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kuka_kr210_r2700/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.498039215686275 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kuka_kr210_r2700/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>

  <!-- Dummy joint connecting dummy_link to base_link -->
  <joint name="dummy_joint" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="dummy_link"/>
    <child link="base_link"/>
  </joint>
  
  <link
    name="joint_a1_Link">
    <inertial>
      <origin
        xyz="-0.010093869332516 0.0113340439290469 0.263795687224756"
        rpy="0 0 0" />
      <mass
        value="83.0967087725691" />
      <inertia
        ixx="2.34402621035596"
        ixy="-0.344922193519335"
        ixz="0.217851520649103"
        iyy="4.29783533931367"
        iyz="-0.0639656674877804"
        izz="3.85288640037321" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kuka_kr210_r2700/meshes/joint_a1_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.498039215686275 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kuka_kr210_r2700/meshes/joint_a1_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_a1"
    type="revolute">
    <origin
      xyz="0 0 0.2156"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="joint_a1_Link" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="joint_a2_Link">
    <inertial>
      <origin
        xyz="0.000984308145473567 -0.250199054236951 0.446709642997893"
        rpy="0 0 0" />
      <mass
        value="89.2649692819031" />
      <inertia
        ixx="17.7486964749625"
        ixy="-0.0014832179192404"
        ixz="0.0484801161115672"
        iyy="17.5337995263579"
        iyz="1.23403947494622"
        izz="1.54430294192491" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kuka_kr210_r2700/meshes/joint_a2_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.498039215686275 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kuka_kr210_r2700/meshes/joint_a2_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_a2"
    type="revolute">
    <origin
      xyz="0.33 0.029 0.4294"
      rpy="0  1.5707963267948966192313216916398 0" />
    <parent
      link="joint_a1_Link" />
    <child
      link="joint_a2_Link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="joint_a3_Link">
    <inertial>
      <origin
        xyz="-0.12472016639206 0.133026858416956 0.0798120459737011"
        rpy="0 0 0" />
      <mass
        value="13.2564179647132" />
      <inertia
        ixx="0.05960503787082"
        ixy="-5.14738884891422E-06"
        ixz="-0.00020190583966933"
        iyy="0.073261168485799"
        iyz="0.000442001762490182"
        izz="0.0878187603707834" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kuka_kr210_r2700/meshes/joint_a3_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.498039215686275 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kuka_kr210_r2700/meshes/joint_a3_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_a3"
    type="revolute">
    <origin
      xyz="2.95244290000052E-05 -0.134 1.14999999962"
      rpy="0 -1.5707963267948966192313216916398 0" />
    <parent
      link="joint_a2_Link" />
    <child
      link="joint_a3_Link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="joint_a4_Link">
    <inertial>
      <origin
        xyz="0.184663558810485 0.00449059208243257 -5.97672344437861E-06"
        rpy="0 0 0" />
      <mass
        value="5.05320851915173" />
      <inertia
        ixx="0.0124470135682645"
        ixy="-0.00404914294078171"
        ixz="-2.29920553683961E-06"
        iyy="0.089163764456243"
        iyz="-9.21079537134401E-07"
        izz="0.0888015788292079" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kuka_kr210_r2700/meshes/joint_a4_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.498039215686275 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kuka_kr210_r2700/meshes/joint_a4_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_a4"
    type="revolute">
    <origin
      xyz="0.868500000001 0.105 0.115"
      rpy="0 0 0" />
    <parent
      link="joint_a3_Link" />
    <child
      link="joint_a4_Link" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="joint_a5_Link">
    <inertial>
      <origin
        xyz="4.47926352731276E-05 0.0339690335050972 0.0517831763229897"
        rpy="0 0 0" />
      <mass
        value="6.82198091409466" />
      <inertia
        ixx="0.0856753565684928"
        ixy="-3.54865894802878E-05"
        ixz="-1.89002057900653E-05"
        iyy="0.0539567886315305"
        iyz="0.0150325440505526"
        izz="0.0610156564425412" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kuka_kr210_r2700/meshes/joint_a5_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.498039215686275 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kuka_kr210_r2700/meshes/joint_a5_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_a5"
    type="revolute">
    <origin
      xyz="0.351500000000027 0 0"
      rpy="0 1.5707963267949 0" />
    <parent
      link="joint_a4_Link" />
    <child
      link="joint_a5_Link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="joint_a6_Link">
    <inertial>
      <origin
        xyz="0.0480131445053307 -6.36788519172888E-06 0.189081635568196"
        rpy="0 0 0" />
      <mass
        value="12.014250176141" />
      <inertia
        ixx="0.0461533698982408"
        ixy="-2.64669188490707E-08"
        ixz="-6.73981319313612E-05"
        iyy="0.22541161837621"
        iyz="-4.45772164823535E-08"
        izz="0.25067890578599" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kuka_kr210_r2700/meshes/joint_a6_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.498039215686275 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kuka_kr210_r2700/meshes/joint_a6_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_a6"
    type="revolute">
    <origin
      xyz="0 0 0.169867899999995"
      rpy="0 0 0" />
    <parent
      link="joint_a5_Link" />
    <child
      link="joint_a6_Link" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="joint_a7_Link">
    <inertial>
      <origin
        xyz="0.022198382274226 -0.000489531262686008 -0.310881417101345"
        rpy="0 0 0" />
      <mass
        value="3.22101244343565" />
      <inertia
        ixx="0.0456861109944981"
        ixy="1.5599884423952E-07"
        ixz="-1.91842143601014E-05"
        iyy="0.0437983474232117"
        iyz="-1.02209178329225E-07"
        izz="0.0177630119488529" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kuka_kr210_r2700/meshes/joint_a7_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kuka_kr210_r2700/meshes/joint_a7_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_a7"
    type="prismatic">
    <origin
      xyz="0.694 0 0.296132050810007"
      rpy="0 1.5707963267949 0" />
    <parent
      link="joint_a6_Link" />
    <child
      link="joint_a7_Link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>